.css-heg063-MuiTabs-flexContainer {
  display: flex;
  justify-content: center;
}

.body {
  background: url(../../../public/background1.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}