.img {
  height: 300px;
  width: 300px;
  float: left;
  margin-right: 15px;
}

.textContainer {
  max-width: 800px;
}

.span {
  font-family: "Lato Medium", sans-serif;
  font-size: 20px;
  font-style: oblique;
  color: gold
}