.footerAllDiv {
    display: flex;
    justify-content: space-around;
    background-color: #353757;
}

.text {
    text-decoration: none;
    color: Gold;
}

.text:hover {
    font-weight: bolder;
    color: DarkOrange;
}