@font-face {
  font-family: 'Lato Medium';
  src: url('../../fonts/Lato/Lato-Medium.ttf');
}

.alldivDesign {
  /* background-image: url(../../../public/background.jpg); */
  /* background-color:  #F0F1F5; */
  /* background-image: linear-gradient(to bottom, #F6E4C8, #D3BFA0); */

  /* background: -webkit-linear-gradient(left, #4e4e52 20px, transparent 1%) center, -webkit-linear-gradient(#4e4e52 20px, transparent 1%) center, #635f5f;
  background: linear-gradient(90deg, #4e4e52 20px, transparent 1%) center, linear-gradient(#4e4e52 20px, transparent 1%) center, #635f5f;
  background-size: 22px 22px; */

  height: 100%;
  background: repeating-linear-gradient(-45deg, transparent, transparent 1em, rgba(178, 224, 241, 0.11) 0, rgba(178, 224, 241, 0.11) 2em, transparent 0, transparent 1em, rgba(178, 224, 241, 0.11) 0, rgba(178, 224, 241, 0.11) 4em, transparent 0, transparent 1em, rgba(192, 235, 250, 0.6) 0, rgba(190, 235, 251, 0.13) 2em), repeating-linear-gradient(45deg, transparent, transparent 1em, rgba(190, 235, 251, 0.13) 0, rgba(190, 235, 251, 0.13) 2em, transparent 0, transparent 1em, rgba(190, 235, 251, 0.13) 0, rgba(191, 232, 247, 0.13) 4em, transparent 0, transparent 1em, rgba(191, 232, 247, 0.13) 0, rgba(191, 232, 247, 0.13) 2em), #fafcfd;
  background-blend-mode: multiply;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 30px;

}

.boxPrint {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.boxPaperStyle {
  display: flex;
}

.button {
  display: flex;
  flex-direction: column;
}

.imgPosition {
  display: flex;
  justify-content: space-around;
  background-color: #F0F1F5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(111, 111, 111, 0.234),
    0 0 10px rgba(0, 0, 0, 0.107);
  /* background: repeating-linear-gradient(-45deg, transparent, transparent 1em, rgba(178, 224, 241, 0.11) 0, rgba(178, 224, 241, 0.11) 2em, transparent 0, transparent 1em, rgba(178, 224, 241, 0.11) 0, rgba(178, 224, 241, 0.11) 4em, transparent 0, transparent 1em, rgba(192, 235, 250, 0.6) 0, rgba(190, 235, 251, 0.13) 2em), repeating-linear-gradient(45deg, transparent, transparent 1em, rgba(190, 235, 251, 0.13) 0, rgba(190, 235, 251, 0.13) 2em, transparent 0, transparent 1em, rgba(190, 235, 251, 0.13) 0, rgba(191, 232, 247, 0.13) 4em, transparent 0, transparent 1em, rgba(191, 232, 247, 0.13) 0, rgba(191, 232, 247, 0.13) 2em), #fafcfd;
                background-blend-mode: multiply; */
}

.text {
  font-family: 'Lato Medium', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(62, 19, 19);
  margin: 0 10px 0 10px;
  cursor: default;
  background-color: #F0F1F5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(111, 111, 111, 0.234),
    0 0 10px rgba(0, 0, 0, 0.107);
  /* background: repeating-linear-gradient(-45deg, transparent, transparent 1em, rgba(178, 224, 241, 0.11) 0, rgba(178, 224, 241, 0.11) 2em, transparent 0, transparent 1em, rgba(178, 224, 241, 0.11) 0, rgba(178, 224, 241, 0.11) 4em, transparent 0, transparent 1em, rgba(192, 235, 250, 0.6) 0, rgba(190, 235, 251, 0.13) 2em), repeating-linear-gradient(45deg, transparent, transparent 1em, rgba(190, 235, 251, 0.13) 0, rgba(190, 235, 251, 0.13) 2em, transparent 0, transparent 1em, rgba(190, 235, 251, 0.13) 0, rgba(191, 232, 247, 0.13) 4em, transparent 0, transparent 1em, rgba(191, 232, 247, 0.13) 0, rgba(191, 232, 247, 0.13) 2em), #fafcfd;
              background-blend-mode: multiply; */
}

/* .buttonParent>div>; {
  font-family: 'Lato Medium', sans-serif;
  font-size: '15px',
} */

.print {
  position: absolute;
  opacity: 0.6;
  border-radius: 20px;
}

.filling {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  padding-bottom: 30px;
}

/* .inputGroop {} */

.designFormStyle {
  display: flex;
  background-color: #F0F1F5;
  /* padding: 37px; */
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(111, 111, 111, 0.234),
    0 0 10px rgba(0, 0, 0, 0.107);
  /*  background: repeating-linear-gradient(-45deg, transparent, transparent 1em, rgba(178, 224, 241, 0.11) 0, rgba(178, 224, 241, 0.11) 2em, transparent 0, transparent 1em, rgba(178, 224, 241, 0.11) 0, rgba(178, 224, 241, 0.11) 4em, transparent 0, transparent 1em, rgba(192, 235, 250, 0.6) 0, rgba(190, 235, 251, 0.13) 2em), repeating-linear-gradient(45deg, transparent, transparent 1em, rgba(190, 235, 251, 0.13) 0, rgba(190, 235, 251, 0.13) 2em, transparent 0, transparent 1em, rgba(190, 235, 251, 0.13) 0, rgba(191, 232, 247, 0.13) 4em, transparent 0, transparent 1em, rgba(191, 232, 247, 0.13) 0, rgba(191, 232, 247, 0.13) 2em), #fafcfd;
              background-blend-mode: multiply; */
}

#app {
  height: 100%
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  width: 420px;
  height: 320px;
  border-radius: 20px;
  margin: 10px;
  background-color: #F0F1F5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(111, 111, 111, 0.234),
    0 0 10px rgba(0, 0, 0, 0.107);
  /* box-shadow: 0 0 30px rgba(129, 225, 242, 0.4),
                0 0 20px rgba(104, 219, 248, 0.2); */
  /* background: repeating-linear-gradient(-45deg, transparent, transparent 1em, rgba(178, 224, 241, 0.11) 0, rgba(178, 224, 241, 0.11) 2em, transparent 0, transparent 1em, rgba(178, 224, 241, 0.11) 0, rgba(178, 224, 241, 0.11) 4em, transparent 0, transparent 1em, rgba(192, 235, 250, 0.6) 0, rgba(190, 235, 251, 0.13) 2em), repeating-linear-gradient(45deg, transparent, transparent 1em, rgba(190, 235, 251, 0.13) 0, rgba(190, 235, 251, 0.13) 2em, transparent 0, transparent 1em, rgba(190, 235, 251, 0.13) 0, rgba(191, 232, 247, 0.13) 4em, transparent 0, transparent 1em, rgba(191, 232, 247, 0.13) 0, rgba(191, 232, 247, 0.13) 2em), #fafcfd;
                background-blend-mode: multiply; */
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.craftPaperStyle {
  /* border-radius: 20px;  */
  border-radius: 10px;
  border: #E8E8EC;
  /* box-shadow: 0 0 30px rgba(2, 1, 1, 0.235),
              0 0 20px rgba(0, 0, 0, 0.148); */
}

/* @media (max-width: 767px) {
  .container {
    background-color: red;
  }  
}
*/

@media (min-width: 768px) and (max-width: 1100px) {

  .craftPaperStyle {
    max-width: 380px;
  }

  .text {
    padding: 7px;
    font-family: 'Lato Medium', sans-serif;
    font-size: '18px',
  }

  .print {
    max-width: 380px;
    color: rgb(62, 19, 19)
  }

  .mySwiper {
    width: 320px;
    height: 220px;
    border-radius: 20px;
  }
}