@font-face {
  font-family: "Lato Medium";
  src: url("../../fonts/Lato/Lato-Medium.ttf");
}

.alldivDesign {
  background: url(../../../public/background1.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.boxPrint {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.boxPaperStyle {
  display: flex;
}

.button {
  display: flex;
  flex-direction: column;
}

.imgPosition {
  background-size: cover;
  display: flex;
  justify-content: space-around;
  background-color: rgba(67, 71, 92, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 60px var(--metal);
  border-radius: 10px;
  padding: 50px 35px;
}

.textLeft {
  font-family: "Lato Medium", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #E0D6BD;
  margin: 0 10px 0 10px;
  cursor: default;
  background-color: rgba(67, 71, 92, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 60px var(--metal);
  border-radius: 10px;
  padding: 50px 35px;
}

.textLeft>* {
  margin-top: 10px;
}

.textRight {
  font-family: "Lato Medium", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #E0D6BD;
  margin: 0 10px 0 10px;
  cursor: default;
  background-color: rgba(67, 71, 92, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 60px var(--metal);
  border-radius: 10px;
  padding: 50px 35px;
}

.textRight>* {
  margin-top: 10px;
}

/* .buttonParent>div>; {
  font-family: 'Lato Medium', sans-serif;
  font-size: '15px',
} */

.print {
  position: absolute;
  opacity: 0.6;
  border-radius: 20px;
}

.filling {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  padding-bottom: 30px;
}

.designFormStyle {
  display: flex;
  background-color: rgba(67, 71, 92, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 60px var(--metal);
  border-radius: 10px;
  padding: 50px 35px;
}

#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiperGift {
  width: 350px;
  height: 282px;
  border-radius: 20px;
  margin: 10px;
  background-size: cover;
  background-color: rgba(67, 71, 92, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 60px var(--metal);
  border-radius: 10px;
  padding: 50px 35px;
}

.oneCardBackground {
  background-color: rgba(67, 71, 92, 0.932);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 60px var(--metal);
}

.pointer {
  cursor: pointer;
}

.craftPaperStyle {
  border-radius: 10px;
  border: #e8e8ec;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

/* @media (max-width: 767px) {
  .container {
    background-color: red;
  }  
}
*/

@media (min-width: 768px) and (max-width: 1100px) {
  .craftPaperStyle {
    max-width: 380px;
  }

  .text {
    padding: 7px;
    font-family: "Lato Medium", sans-serif;
    font-size: "18px";
  }

  .print {
    max-width: 380px;
    color: rgb(62, 19, 19);
  }

  .mySwiper {
    width: 320px;
    height: 220px;
    border-radius: 20px;
  }
}
